This is the index page which is also the feed page

<br/>

	<% @tweets.each do |tweet|%>
		<ul class="list-group">
			<li class="list-group-item"><%= tweet.user.email %> <br> <b><%= tweet.content %></b></li>
		</ul>
	<% end %>

